<section id="landing_section" class="communStyle">
  <h1>Making dreams come true</h1>
  <p>
    Straight from magnificent Ivory Coast <br>
    EA IC is a Studio focused on delivering amazing games <br>
    for amazing people.
  </p>
</section>

<section id="latestSoldiers">
  <h1>Latest Soldiers</h1>
  <div class="soldiers">
    <div class="news">
      <img src="/images/revenant.png" alt="Revenant">
      <div class="infoPart">
        <h3>Revenant</h3>
        <p>Le robot-assassin Revenant, apparu dans Apex Legends lors de la saison 4, a plusieurs tours dans son sac.</p>
      </div>

    </div>
    <div class="news">
      <img src="/images/loba.jpg" alt="Loba">
      <div class="infoPart">
        <h3>Loba</h3>
        <p>À l'âge de neuf ans, Loba a assisté au meurtre de sa famille par le simulacre Revenant, un tueur à gages sans
          merci. Livrée à elle-même, Loba a survécu en devenant pickpocket.
        </p>
      </div>
    </div>
    <div class="news">
      <img src="/images/rampart.jpeg" alt="Rampart">
      <div class="infoPart">
        <h3>Rampart</h3>
        <p>Rampart est une bricoleuse unique en son genre, qui a construit sa réputation en gérant un ... en cendres par
          de
          mystérieux assaillants...</p>
      </div>
    </div>
    <div class="news">
      <img src="/images/horizon.jpg" alt="Horizon">
      <div class="infoPart">
        <h3>Horizon</h3>
        <p>Horizon, AKA Dr. Mary Somers, est une astrophysicienne et une experte en gravitation qui vivait sur
          Olympus...</p>
      </div>

    </div>
  </div>
</section>

<footer id="orange">
  <h1 class="text">EA Ivory Coast - Part of the EA GROUP</h1>
</footer>