<section id="navigation_section">
  <nav id="nav_bar">
    <a href="#"><img src="/images/EA_LOGO.png" alt="Logo"></a>
    <div>
      <ul class="menu">
        <li><a href="./index.hbs">Home</a></li>
        <li><a href="./about.hbs">About</a></li>
      </ul>
    </div>
  </nav>
</section>

<section id="landing_section" class="communStyle">
  <h1>Making dreams come true</h1>
  <p>
    Straight from magnificent Ivory Coast <br>
    EA IC is a Studio focused on delivering amazing games <br>
    for amazing people.
  </p>
</section>

<footer id="orange">
  <h1 class="text">EA Ivory Coast - Part of the EA GROUP</h1>
  {{!-- <h2 class="text2">&copy; EA Ivory Coast</h2>
  <h2 class="text3">-From Abidjan with love-</h2> --}}
</footer>