<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="module" src="../app.js"></script>

    {{!-- {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}.css">
    {{/each}} --}}

</head>

<body>

    <section id="navigation_section">
        <nav id="nav_bar">
            <a href="#"><img src="/images/EA_LOGO.png" alt="Logo"></a>
            <div>
                <ul class="menu">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
        </nav>
    </section>
    {{{body}}}
</body>

</html>